.top-banner {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 100px;
    height: 60vh;
    width: 100%;
    text-align: center;
    color: white;
    margin-inline: 0%;
}


h1 {
    text-align: center;
}


.banner-text {
    color: white;
    padding-top: 0;
    font-size: 50px;
}



#banner-text {
    padding-top: 15%;

}




#lol {
    font-size: 70px;
    text-align: center;
}




.loll {
    text-align: center;
}

.kichu {
    text-align: center;
    padding-top: 0%;
    margin: 0%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(RED, RED);
    border-radius: 5px;
    font-weight: 900;
    color: white;
}

.flexible-container {
    display: flex;
    margin: 10%;
}

.button {
    height: 15vh;
    width: 15vh;
    margin: 2%;

}